[Desktop Entry]
Name=Godot Dice Roller
Comment=Rolls 3D dices in a box.
Categories=Game;BoardGame;RolePlaying
Icon=net.canvoki.godot_dice_roller
Exec=godot-runner %U
Type=Application
Terminal=false
StartupNotify=true
